html,body{
	padding:4px 8px 4px 8px;
	font-family:'Lato', sans-serif;
	font-size: 18px;
	line-height: 1.5;
	word-wrap:break-word; 
	background: #fffff8;
	color: #191919;
	text-align: left;
}

p {
	text-align: left;
} 

center p{
	text-align: left;
} 

left p{
	text-align: left;
} 

right p{
	text-align: right;
}

ul{
	padding-left: 1.5em;
} 

h1 {
	line-height: 1.5;
	text-align: left;
	color: #b03a2e;
	border-bottom: none;
	font-family: 'Proza Libre', sans-serif;
}

#title{
	border: none;
	color: #b03a2e;
	text-align: left;
}

h2 {
    margin-top: 4rem;
	line-height:1.5;
	text-align: left;
	color: #b03a2e;
    border: none;
	font-family: 'Proza Libre', sans-serif;
}

h3 {
    margin-top: 3rem;
	line-height: 1.5;
	text-align: left;
	color: #191919;
	font-family: 'Proza Libre', sans-serif;
} 

h4, h5, h6 {
    margin-top: 1.5rem;
	line-height: 1.5;
	text-align: left;
	color: #191919;
	font-family: 'Proza Libre', sans-serif;
} 

.header_no_underline { 
	text-decoration: none; 
	color: #b03a2e; 
}

a{
	word-wrap:break-word;
	text-decoration:none;
} 
	
:active,:focus {
	outline: none;
}

a{
	color: #b03a2e;
}

blockquote {
	margin: 0.5rem 2rem 0.5rem 2rem;
	padding: 2px 1rem 2px 1rem;
	border-left: 5px solid #b03a2e;
	line-height: 1.3;
	font-size: .8rem;
	color: #191919;
}

img{
	width: 80%;
	display: block;
	height: auto;
	margin-left: auto;
	margin-right: auto;
} 

img[title=right]{
	width: 40%;
	float: right;
	margin-left: 10px;
}

img[title=left]{
	width: 40%;
	float: left;
	margin-right: 10px;
} 

kbd{
	padding: 0.1em 0.6em;
	font-size: 11px;
	font-family: Lato,sans-serif;
	border-radius: 4px;
	display: inline-block;
	margin: 0 0.1em;
	white-space: nowrap;
}

kbd{
	background-color: #002b36;
	color: #fdf6e3;
} 

hr, kbd{
	border: 1px solid #93a1a1;
}

table, img, blockquote, pre {
	box-shadow: 1mm 1mm 2mm rgba(0,0,0,.3);
}

code,pre,blockquote{
	tab-size: 1;
} 

code,pre,blockquote{
	background: #eee8d5;color:#073642;
} 

pre{
	padding: 10px 10px 10px 10px;
	font-family:'Cutive Mono', 'Cousine', monospace;
	font-size: 95%;
	line-height: 1.5;
	white-space: pre; 
	white-space: pre-wrap;
	border-radius: 10px;
	border: 1px solid #93a1a1;
} 

code{
	font-family: 'Cutive Mono', 'Cousine', monospace;
	font-size: 95%; 
	line-height: 1.5;
	white-space: pre;
	white-space: pre-wrap;
} 

sup{
	font-size: 70%
} 

table{
	width: 100%;
}

table,th,td{
	border-collapse:collapse;
	padding:10px; 
	vertical-align: top;
} 

table,th,td{
	border: 1px solid #93a1a1;
} 

noheader th{
	display: none;
}

th{
	background: #eee8d5;
	border-bottom: 5px solid #93a1a1;
} 

tbody tr:nth-child(even){
	background: #eee8d5;
}

@media print {
	html,body {
	background-color: #ffffff;
	}
	h1,h2,h3,h4,h5,h6 {
		page-break-after: avoid;
	}
	@page{ 
	size: 8.5in 11in;
	margin-top: 20mm;
	margin-bottom: 20mm;
	margin-left: 30mm;
	margin-right: 30mm;
	}
}gin-right: 30mm;
	}
}